DATABASE_URL="postgresql://user:password@localhost:5432/micds_pe"
NEXTAUTH_SECRET="your-secret-here-min-32-chars"
NEXTAUTH_URL="http://localhost:3000"
ALLOWED_EMAIL_DOMAIN="micds.org"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="noreply@micds.org"
SMTP_PASS="your-smtp-password"
SMTP_FROM="MICDS PE <noreply@micds.org>"
NODE_ENV="development"
